{% extends 'main/base.html' %}
{% load static %}
{% block title %} SignUp {% endblock %}
{% block content %}
<div class="signup-container">
    <div class="cloud-icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <div class="signup-form-div">
        <h2>Create Account</h2>
        <form action="" method="post">
            {% csrf_token %}
            
            {% if register_form.errors %}
            <div class="error-message">
                <p>There were some problems with your registration. Please check the fields and try again.</p>
            </div>
            {% endif %}
            
            <div class="input-field">
                <label for="username"><i class="fas fa-user"></i> Username</label>
                {{ register_form.username }}
            </div>
            <div class="input-field">
                <label for="email"><i class="fas fa-envelope"></i> Email</label>
                {{ register_form.email }}
            </div>
            <div class="input-field">
                <label for="password1"><i class="fas fa-lock"></i> Password</label>
                <div style="position: relative;">
                    {{ register_form.password1 }}
                    <i class="fas fa-eye-slash toggle-password" toggle="#id_password1"
                       style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
                </div>
            </div>            
            <div class="input-field">
                <label for="password1"><i class="fas fa-lock"></i> Password</label>
                <div style="position: relative;">
                    {{ register_form.password2}}
                    <i class="fas fa-eye-slash toggle-password" toggle="#id_password2"
                       style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;"></i>
                </div>
            </div>            
            
            <button type="submit" class="signup-button">Register</button>
        </form>
    </div>
</div>
<script src="{% static 'main/js/password_show.js' %}"></script>
{% endblock %}
