{% extends 'main/base.html' %}
{% load static %}
{% block title %} Edit Profile {% endblock %}
{% block content %}
<section class="edit-profile-body">
    <div class="edit-profile-container">
        <h2 class="edit-profile-h2"><i class="fas fa-user-edit"></i> Edit Profile</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="message-success"><p>{{message}}</p></div>
        {% endfor %}
        {% endif %}
        <form id="edit-profile-form" method="POST">
            {% csrf_token %}
            <div class="edit-profile-form-group">
                <label class="edit-profile-label" for="username"><i class="fas fa-user"></i> UserName:</label>
                <input class="edit-profile-input" type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>

            <!-- Email -->
            <div class="edit-profile-form-group">
                <label class="edit-profile-label" for="email"><i class="fas fa-envelope"></i> Email:</label>
                <input class="edit-profile-input" type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>

            <!-- Change Password -->
            <div class="edit-profile-form-group">
                <label class="edit-profile-label" for="password"><i class="fas fa-lock"></i> New Password:</label>
                <input class="edit-profile-input" type="password" id="password" name="password" placeholder="Leave blank if unchanged">
            </div>

            <button type="submit" class="edit-profile-btn edit-profile-btn-save">
                <i class="fas fa-save"></i> Save Changes
            </button>
        </form>
    </div>
</section>
{% endblock %}