{% extends 'main/base.html' %}
{% load static %}

{% block title %} For Buyer {% endblock %}

{% block content %}
<div class="search-result-descriptions">
    <div class="back-btn">
        <p><a href="{% url 'main:home' %}">Back</a></p>
    </div>
    <div class="results-description">Search results for '{{ query }}'</div>
</div>

<div class="results" id="resultsSection">
    <input type="hidden" id="csrf_token_input" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    {% if sellers %}
        {% for seller in sellers %}
            <div class="card">
                <div class="header">
                    <i class="fab fa-{{ seller.social.social_category|lower }} {{ seller.social.social_category|lower }}-icon"></i>
                    <span class="handle" id="textToCopy-{{ forloop.counter }}">
                        {{ seller.social.handle }}
                    </span>
                </div>

                <p class="description">{{ seller.product_info.product_descriptions }}</p>

                <div class="status">
                    <span class="dot"></span>
                    <span class="active-text">Active</span>
                </div>

                <div class="tags">
                    <span class="tag">{{ seller.product_info.business_profile.product_category }}</span>
                </div>

                <div class="location">
                    <i class="fas fa-location-dot"></i>
                    <span>{{ seller.distance }} km away . Dar es salaam</span>
                </div>

                <button class="copy-btn" onclick="copyText('textToCopy-{{ forloop.counter }}'); getHandleId('{{ seller.user.id }}')">
                    <i class="fas fa-copy"></i> Copy Handle
                </button>
            </div>
        {% endfor %}
    {% else %}
        <p>No results found for "{{ query }}".</p>
    {% endif %}
</div>

<!-- Pagination controls -->
<div class="pagination">
    <span class="page-links">
        {% if sellers.has_previous %}
            <a href="?query={{ query }}&page=1">First</a>
            <a href="?query={{ query }}&page={{ sellers.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current-page">
            Page {{ sellers.number }} of {{ sellers.paginator.num_pages }}
        </span>

        {% if sellers.has_next %}
            <a href="?query={{ query }}&page={{ sellers.next_page_number }}">Next</a>
            <a href="?query={{ query }}&page={{ sellers.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'main/js/copy_to_clipboard.js' %}"></script>
<script src="{% static 'main/js/statistics_counts.js' %}"></script>
{% endblock %}
