{% extends 'main/base.html' %}
{% load static %}
{% block title %} Furniture {% endblock %}

{% block content %}
<div class="product-list-container">
    <h2 class="product-list-text-center">Furniture</h2>
    
    {% if furniture_products %}
        {% for product in furniture_products %}
            <div class="product-list-product-item">
                <p class="product-list-product-name">{{ product.product_name }}</p>
                <p class="product-list-product-description">{{ product.product_descriptions }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No furniture products available.</p>
    {% endif %}
</div>
{% endblock %}
