{% extends 'main/base.html' %}
{% load static %}
{% block title %} Products - Seller Dashboard {% endblock %}
{% block content %}
<div class="product-container">
    <div class="products-header">
        <h1>Products</h1>
        <button class="add-product-btn"><a href="{% url 'main:add_product' %}">Add Product</a></button>
    </div>
    <div class="product-list">
        <div class="product-card">
            <i class="fas fa-laptop"></i>
            <h2>Electronics</h2>
            <p>Find your stored electronics products here.</p>
            <button class="btn"><a href="{% url 'main:electronics-product-list' %}">View Products</a></button>
        </div>
        <div class="product-card">
            <i class="fas fa-tshirt"></i>
            <h2>Fashion</h2>
            <p>Find your stored fashion products here.</p>
            <button class="btn"><a href="{% url 'main:fashion-product-list' %}">View Products</a></button>
        </div>
        <div class="product-card">
            <i class="fas fa-couch"></i>
            <h2>Furniture</h2>
            <p>Find your stored furniture products here.</p>
            <button class="btn"><a href="{% url 'main:furniture-product-list' %}">View Products</a></button>
        </div>
        <div class="product-card">
            <i class="fas fa-utensils"></i>
            <h2>Kitchenware</h2>
            <p>Find your stored kitchenware products here.</p>
            <button class="btn"><a href="{% url 'main:kitchenware-product-list' %}">View Products</a></button>
        </div>
        <div class="product-card">
            <i class="fas fa-box"></i>
            <h2>Others</h2>
            <p>Find other products here.</p>
            <button class="btn"><a href="{% url 'main:kitchenware-product-list' %}">View Products</a></button>
        </div>
    </div>
</div>
{% endblock %}