{% extends 'main/base.html' %}
{% load static %}
{% block title %} Home | Tuiby {% endblock %}
{% block content %}
<h1 class="main-header">Find Social Media Seller Near You!</h1>
<div class="social-media-icon">
    <div class="double-angle-quotation-mark"><i class="fas fa-angle-double-right gradient-icon"></i></div>
    <div class="outer-circle"><div class="inner-circle"><i class="fab fa-tiktok"></i></div></div>
    <div class="outer-circle"><div class="inner-circle"><i class="fab fa-facebook"></i></div></div>
    <div class="outer-circle"><div class="inner-circle"><i class="fab fa-instagram"></i></div></div>
</div>
<!-- Corrected the button to properly trigger getLocation() -->
<div class="access-location-btn">
    <a href="javascript:void(0)" onclick="getLocation(event)">
        <p>Allow Tuiby to access your location</p>
    </a>
</div>
<div class="search-bar">
    <form id="searchForm" onsubmit="getUserLocationAndSearch(event)">
        <input type="text" name="query" id="searchInput" placeholder="What are you looking for?" required>
        <button type="submit"><i class="fas fa-search" style="color: white;"></i></button>
    </form>
</div>
<div class="seller-register-link"><a href="{% url 'accounts:register' %}">Register as seller</a></div>
<script src="{% static 'main/js/getlocation.js' %}"></script>
{% endblock %}