{% extends 'main/base.html' %}
{% load static %}

{% block title %} Product List {% endblock %}

{% block content %}
<div class="products-header">
    <button class="add-product-btn"><a href="{% url 'main:add_product' %}">Add Product</a></button>
</div>
<div class="product-list-container">
    {% for category, items in products.items %}
        {% if items %}
            <h2 class="product-list-text-center">{{ category }}</h2>
            <div class="table-container">
                <table class="product-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in items %}
                            <tr>
                                <td>{{ product.product_name }}</td>
                                <td>{{ product.product_descriptions }}</td>
                                <td>
                                    <div class="action-buttons">
                                        <a href="{% url 'main:edit-product' product.id %}" class="btn btn-edit">Edit</a>
                                        <a href="{% url 'main:delete-product' product.id %}" class="btn btn-delete">Delete</a>
                                    </div>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endfor %}

    <!-- Pagination -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">«</a>
    {% else %}
        <span class="disabled">«</span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a href="?page={{ num }}" class="active">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">»</a>
    {% else %}
        <span class="disabled">»</span>
    {% endif %}
</div>
</div>
{% endblock %}
