{% extends 'main/base.html' %}
{% load static %}
{% block title %} Add Social Media Handles {% endblock %}
{% block content %}
<div class="social-container">
    <h2 class="social-h2">Save Social Media Handles</h2>
    {% if messages %}
    {% for message in messages %}
    <div class="message-success">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <form method="POST" class="seller-form">
        {% csrf_token %}
        
        <label for="id_social_category">Choose Social Media:</label>
        {{ form.social_category }}

        <label for="id_handle">Social Media Handle:</label>
        {{ form.handle }}

        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}
